@import "variables.scss";

body {
    background-image: url(../images/art/background09_edited.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

//div.head div.part2>ul>li {
//    background-image: url(../images/art/cloud_01.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    background-position: center;
//}
//div.head div.part2>ul>li.compose {
//    background-image: url(../images/art/cloud_02.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    background-position: center;
//}
//div.head div.leftbar>ul>li.btn-erhu {
//    background-image: url(../images/art/cloud_03.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    background-position: center;
//}
//div.head div.leftbar>ul>li.btn-sun {
//    background-image: url(../images/art/cloud_04.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    background-position: center;
//}

//*** For index stage */
div.border {
    width: 100%;
    height: 126px;
    margin-top: -63px;
    position: absolute;
    background-image: url(../images/art/CloudBorder.png);
    background-size: contain;
    background-position: center;
    z-index: 10;
}
div.zheng, div.dizi, div.erhu, div.xun {
    z-index: -10;
}
div.leftbar {
    z-index: 100;
    
    ul>li {
        background-image: url(../images/art/mo.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.4s;
    }
}

div.gallery {
    background-image: url(../images/art/window1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-width: 0px;
}
//Hover effect for image
div.gallery>img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
div.gallery:hover>img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

// For composing stage
div.stage {
    background-color: $Color-NavText-Transparent;
}