$Color-PlayButton: rgb(155, 145, 129);
$Color-DividedLine: rgb(162, 152, 136);
$Color-SelectedItem: rgb(219, 201, 160);
$Color-UnselectedItem: rgb(218, 202, 179);
$Color-NavText: rgb(252, 247, 232);
$Color-Button: rgb(223, 208, 186);